{{/* Condensed People Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $page := .page }}
{{ $show_social := $page.Params.design.show_social | default false }}
{{ $show_interests := $page.Params.design.show_interests | default true }}

<div class="row people-widget row-cols-2">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading mb-4">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.content.user_groups }}
  {{ $query := where (where site.Pages "Section" "authors") ".Params.user_groups" "intersect" (slice .) }}

  {{ range $query }}
    {{/* Get link to users profile page. */}}
    {{ $link := "" }}
    {{ with site.GetPage (printf "/authors/%s" (path.Base (path.Split .Path).Dir)) }}
      {{ $link = .RelPermalink }}
    {{ end }}
    <div class="col people-person">
      <h3>
        {{ with $link }}<a href="{{ . }}">{{ end }}
        {{ .Title }}
        {{ with $link }}</a>{{ end }}
      </h3>

      {{ partial "fetch-avatar" (dict "person" . "link" $link) }}

      {{ with .Params.role }}
        <h4>{{ . | markdownify | emojify }}</h4>
      {{ end }}

      {{ if and $show_social (gt (len .Params.social) 1) }}
        {{ partial "social_links" . }}
      {{ end }}

      {{ if and $show_interests .Params.interests }}
        <p class="people-interests">
          {{ delimit .Params.interests ", " | markdownify | emojify }}
        </p>
      {{ end }}
      <p> {{ .Params.bio }} </p>
    </div>
  {{ end }}
 {{ end }}
</div>
