body.cocodev-home {
    nav.navbar {
        box-shadow: none !important;
    }
}

@use "sass:map" as map;
@use "sass:list" as list;

$ln-colors: (
    #f2385a,
    #36b1bf,
    #a3c884,
    #f5a503,
);
$n-colors: length($ln-colors);

@mixin colorize-links($color, $property) {
    #{$property}: $color !important;
}

@mixin alternate-colors($idx, $property) {
    $loc: $idx % $n-colors;
    $color: nth($ln-colors, $idx);
    $formula: #{$n-colors}n + #{$loc};

    &:nth-child(#{$formula}) {
        @include colorize-links($color, $property);
    }
}

@mixin add-alternations($property) {
    @for $idx from 1 through $n-colors {
        @include alternate-colors($idx, $property);
    }
}

.pub-list-item {
    p {
        .btn {
            @include add-alternations(color);
            @include add-alternations(border-color);
            &:hover {
                color: $sta-background !important;
                @include add-alternations(background-color);
            }
        }
    }
}

ul.network-icon {
    li {
        @include add-alternations(color);

        a {
            color: inherit !important;
        }
    }
}

div.btn-links {
    .btn {
        @include add-alternations(color);
        @include add-alternations(border-color);
        &:hover {
            color: $sta-background !important;
            @include add-alternations(background-color);
        }
    }
}

@import "home";

@import "about";

@import "academic-overrides";
