{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ $link_authors := site.Params.link_authors | default true }}
  {{ range $index, $name_raw := . }}
    {{- if gt $index 0 }}, {{ end -}}
    {{- $lookup := replace $name_raw " " "-" -}}
    {{- $shared_1st := in $lookup "*" -}}
    {{- if $shared_1st -}}{{- $lookup = replace $lookup "*" "" -}}{{- end -}}
    {{- $target := printf "%s/%s" $taxonomy $lookup -}}
    <span>
    {{- if and (fileExists $target) $link_authors -}}
      {{- $profile_page := site.GetPage (printf "/%s" $target) -}}
      {{- $name := $profile_page.Title -}}
      {{- if $shared_1st -}}
        {{- $name = printf "%s*" $name -}}
      {{- end -}}
      <a href="{{ $profile_page.RelPermalink }}"><strong>{{ $name }}</strong></a>
    {{- else -}}
      {{ $name_raw | title }}
    {{- end -}}
    </span>
  {{- end -}}
{{- end -}}
